.adminusers__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 1px solid #{$frameColor};
}
.admintweetCard-wrapper {
    display: inline-block;
    border: 1px solid #{$frameColor};
    background-color: #c4c4c4;
    width: 100%;
    border-radius: 15px;
}

.adminuser{
    font-size: 15px;
    &__tweets{
    width: 100%;
    max-width: 245px;
    margin: 7.5px;
    }
    &__avatar{
    display: flex;
    justify-content: center;
    transform: scale(2);
    margin-top: 68px;
    }
    &__avatar img{
       border: 2px solid white;
    }
    &__info {
    width: 100%;
    background-color: #f6f7f8;
    max-width: 245px;
    height: 174px;
    display: flex;
    flex-direction: column;
    }
    &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
    font-weight: 900;
    line-height: 22px;
    }
    &__subtitle {
    color: #{$tweet-grey};
    line-height: 21px;
    }
    &__heart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    }
    &__heart01 , &__heart02{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    span {
        color: #{$black};
        font-weight: 700;
        font-size: 15px;
    }
    }
    &__heart01 img {
        margin-right: 7px;
        width: 20px;
        height: 20px;
    }
    &__heart02 img {
        margin-right: 7px;
        width: 20px;
        height: 18px;
    }
    &__followinfo {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #{$tweet-grey};
    }
    &__followinfo01 , &__followinfo02{
    display: flex;
    padding: 0px 5px;
    span {
        color: #{$black};
        font-weight: 700;
    }
    }
}