.tweetCard-wrapper {
    display: flex;
    border-bottom: 1px solid #{$frameColor};
    padding: 13px 15px;
    color: #{$tweet-grey};
    .card-left {
      margin-right: 10px;
    }
    .card-right {
      position: relative;
      width: calc(100% - 60px);
      .card-head {
        display: flex;
        align-items: center;
        line-height: 22px;
        .card-name {
          margin-right: 5px;
          font-weight: 700;
          color: #{$black};
        }
      }
      p {
        margin-bottom: 14px;
        line-height: 22px;
        color: #{$black};
      }
      .card-cancel {
        position: absolute;
        top:0;
        right: 30px;
      }
      .card-description {
        margin-top: 6px;
        color: #{$black};
        line-height: 22px;
      }
    }
  }
  
  