* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #{$black};
}

// login/SignUp標題
h2 {
  font-size: 23px;
  font-weight: 700;
}

// 橫幅標題, Navbar項目, 卡片標題
h3 {
  font-size: 19px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

h5 {
  font-size: 15px;
  font-weight: 500;
}

// 推文 icon 文字: heart, comments
h6 {
  font-size: 13px;
  font-weight:500
}

// label default

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  box-shadow: 0 0 0 50px inset;
  -webkit-box-shadow: 0 0 0px 100px #{$label-background} inset;
}

.form-wrapper {
  width: 100%;
  // label
  .label {
    display: block;
    position: relative;
    height: 52px;
    border-bottom: 2px solid #{$black};
    border-radius: 4px 4px 0px 0px;
    padding: 5px 10px;
    font-size: 15px;
    color: #{$label-font};
    background-color: #{$label-background};
    &:hover, &:focus {
      outline: 0;
      border-bottom: 2px solid #{$blue};
    }
  }
  // input
  textarea,
  input[type="text"],
  input[type="password"] {
    border: none;
    outline: none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance: none;
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 520px;
    color: #{$black};
    background-color: unset;
    font-size: 19px;
    font-weight: 500;
    &:hover, &:focus {
      outline: 0;
      border: 0
    }
  }
  // wordLimit
  .wordLimit-wrapper {
    display: flex;
    justify-content: space-between;
    height: 30px;
    color: #{$label-font};
    h5 {
      margin: 5px 0 10px;
    }
  }
  // error 樣式 (聯動字數限制之樣式)
  .isInvalid {
    border-color: #{$red};
    + .wordLimit-wrapper {
      color: #{$red};
    }
  }
}

// default buttons: 登入/推文/跟隨
.btn {
  width: 100%;
  border: 1px solid #{$orange};
  border-radius: 100px;
  padding: 10px 15px;
  color: #{$orange};
  background-color: unset;
  cursor: pointer;
}
.active {
  border: unset;
  color: #{$white};
  background-color: #{$orange};
}
button:disabled {
  opacity: 0.5;
  cursor: wait;
}

// 大頭貼尺寸
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}