$black: #1C1C1C;
$white: #FFFFFF;
$red: #FC5A5A;
$orange:  #FF6600;
$blue: #0099FF;

// 框架
$frameColor: #e6ecf0;

// tweetCard
$tweet-grey: #657786;

// 輸入框
$label-font:#657786;
$label-background:#F5F8FA;

// Popular.vue
$Popular-background: #F5F8FA;