.navBar {
  height: 100%;
  width: 100%;
  position: relative;
  .container {
    position: absolute;
    top: 14px;
    left: 30%;
    background: #{$white};
  }
  .logo{
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
  .navItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #{$black};
    margin-top: 30px;
    .icon {
      margin-left: 10px;
      margin-right: 24px;
    }
  }
  .content,
  .logoutTab {
    img {
      width: 23px;
      height: 23px;
    }
  }
  
  .router-link-exact-active,
  .navItem:hover {
    color: #{$orange};
    .home{
      content: #{$homeActive};
    }
    .person {
      content: #{$personActive};
    }
    .setting {
      content: #{$settingActive};
    }
  }
  .btn {
    width: 210px;
    background: #{$orange};
    color: #{$white};
    font-weight: 500;
    font-size: 18px;
    margin-top: 30px;
  }

  .logoutTab {
    position: absolute;
    left: 30%;
    bottom: 5%;
  }
  .logoutButton {
    background-color: unset;
    border: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    .icon {
      margin-left: 10px;
      margin-right: 24px;
    }
  }
}