.userFollowCards {
  display: flex;
  border-bottom: 1px solid #{$frameColor};
  padding: 15px 15px 10px 15px;
  .userFollowCards-right {
    position: relative;
    margin-left: 10px;
    width: 100%;
    .name {
      color: #{$black};
      font-weight: 700;
    }
    .account {
      color: #{$tweet-grey};
    }
  }
  .btn {
    position: absolute;
    right: 0;
    font-size: 15px;
    padding: 5px 15px;
    width: 90px;
  }
  h5 {
    line-height: 15px;
  }
  p {
    margin-top: 5px;
    line-height: 22px;
  }
}