.app-tripple-column{
  .middle-container{
    .switchTabs{
      height: 53px;
      border-bottom: 1px solid #{$frameColor};
      display: flex;
      .tweetTab,.replyTab,.likeTab{
        width: 130px;
        height: 100%;
        padding-top: 23px;
        text-align: center;
        font-weight: 700;
        font-size: 15px;
        color: #{$tweet-grey};
        cursor: pointer;
      }
      .activeTabs{
        border-bottom: 2px solid #{$orange};
      }
    }
  }
} 