.userFollowTabs-wrapper {
  .userFollowTabs-title {
    display: flex;
    align-items: center;
    height: 59px;
    img {
      margin: 0 43px 0 19px;
    }
    h3 {
      font-weight: 900;
    }
    h6 {
      line-height: 18px;
    }
  }
  .userFollowTabs-body {
    border-bottom: 1px solid #{$frameColor};
    .userFollows-tab {
      display: inline-block;
      padding: 16px 43px;
      font-weight: 700;
      color: #{$tweet-grey};
      text-decoration: none;
    }
    .userFollows-tab-active,
    .router-link-exact-active {
      color: #{$orange};
      border-bottom: 2px solid #{$orange};
    }
  }
}
