@import '/node_modules/reset-css/sass/reset'; // reset-css
@import "../scss/Color";
@import "../scss/BasicElement";
@import "../scss/Icon";
@import "../scss/Utils"; // for sweet alert 2
@import "../scss/SignIn";
@import "../scss/NavBar";