$logo: url("./assets/icon/Logo.png");
$arrow: url("./assets/icon/arrow.png");
$cross-or: url("./assets/icon/cross-or.png");
$cross-wt: url("./assets/icon/cross-wt.png");
$heartActive: url("./assets/icon/heartActive.png");
$heart: url("./assets/icon/heart.png");
$home: url("./assets/icon/home.png");
$homeActive: url("./assets/icon/homeActive.png");
$logout: url("./assets/icon/logout.png");
$message: url("./assets/icon/message.png");
$notice: url("./assets/icon/notice.png");
$noticeActive: url("./assets/icon/noticeActive.png");
$person: url("./assets/icon/person.png");
$personActive: url("./assets/icon/personActive.png");
$reply: url("./assets/icon/reply.png");
$setting: url("./assets/icon/setting.png");
$settingActive: url("./assets/icon/settingActive.png");
$uploadPhoto: url("./assets/icon/uploadPhoto.png")